:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #f4623a;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #f4623a;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body
{
    
    background-color: aliceblue;
    
}
.container-fluid{
  padding: 0;
}
.row
{

    width: 100%;
    padding-top:2%;
}

#about, #work, #contact
{
    padding-top:5%;
    padding-left:5%;
    padding-bottom: 5%;
}
#about{
  background-color: darkcyan;
}
#work
{
  background-color: rgb(240, 248, 255);
  color: darkslategrey;
  margin-bottom: 3%;
}
#contact
{
  background-color: darkcyan;
    padding-bottom: 5%;
}
h1{
  font-size: 100px;
}
@media (min-width: 768px) {
  .head {
    padding-top:15%;
    background-image: url("./images/head1.jpg");
    height: 720px;
    color: rgb(90, 76, 243);
    text-align: center;
    width: 100%;
    font-size: 100px;
  }
}

@media (max-width: 767px) {
  .head {      
    padding-top:15%;
    background-image: url("./images/mobile.jpg");
    height: 720px;
    color: rgb(100, 90, 219);
    text-align: center;
    width: 100%;
    font-size: 80px;
  }
  h1{
    font-size: 80px;
  }
}

.navbar {
  
  color: aliceblue;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-fixed-top 
{ 
  background-color: rgba(246, 248, 250, 0);
  transition: background-color 2s ease 0s;
}
.navbar-fixed-top.scrolled {
  background-color:  rgba(246, 248, 250, 1); 
  transition: background-color 2s ease 0s;
}

.navbar > .container,
.navbar > .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


  .footer
  {
    color: antiquewhite;
    
    text-align: center;
   
    padding: 3%;
    padding-right: 0 !important;
  }
  